@page
@model PompeFunebre.Pages.ProdusVariabil.IndexModel
@{
}

<h2>Produs Variabil</h2>

<form method="get">
    <label for="productDropdown">Choose a product:</label>
    <select id="productDropdown" name="productName">
        @foreach (var item in Model.ProductNames)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
    <button type="submit">Search</button>
</form>

@if (Model.ProdusVariabilList != null && Model.ProdusVariabilList.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nume</th>
                <th>Pret</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProdusVariabilList)
            {
                <tr>
                    <td>@item.Nume</td>
                    <td>@item.Pret</td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <p>No results found</p>
}
